@charset "utf-8";
/* CSS Document */
body {
	width: 70%;
	margin: 10px auto;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
footer { text-align: left;}
img {border: 2px solid black;}
 p{	
	text-align: left;
}